{% extends 'events.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
<div class="container main" id="main">
    <h1 class="mt-5">Создать публикацию</h1>
    <button
                                type="button"
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target="#exampleModal"
                        >
                            Создать публикацию
                        </button>
    <h1 class="mt-5">Мои публикации</h1>
    <div class="row">
        {% for my_publication in my_publications %}
            <div class="card mt-3 offset-1" style="width: 18rem;">
            <img src="{{ my_publication.image.url }}" class="card-img-top" alt="">
                <div class="card-body">

                  <h5 class="card-title">{{ my_publication.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ my_publication.created_at }}</h6>
                  <p class="card-text">{{ my_publication.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1 class="mt-5">Актуальные публикации</h1>
    <div class="row">
        {% for all_publication in all_publications %}
            <div class="card mt-3 offset-1" style="width: 18rem;">
            <img src="{{ all_publication.image.url }}" class="card-img-top" alt="">
                <div class="card-body">

                  <h5 class="card-title">{{ all_publication.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ all_publication.created_at }}</h6>
                  <p class="card-text">{{ all_publication.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
     <div class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создать публикацию</h5>
                    <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'publications' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                    >
                        Закрыть
                    </button>

                </div>
            </div>
        </div>
    </div>
    <script>
      const main = document.getElementById("main");
      const set = (el) => {
        const screenHeight = document.documentElement.clientHeight;
        const navHeight = document
          .getElementById("nav")
          .getBoundingClientRect().height;
        el.style.height = screenHeight - navHeight + "px";
      };
      set(main);
      window.addEventListener("resize", () => {
        set(main);
      });
    </script>
{% endblock content %}